<footer>
    <div class="site-identity">
        <p>
            <%= new Date().getFullYear() %>. Reviewed. All rights reserved.| Made with ❤️ by Mukul.
        </p>
        <div>
            <a class="github" href="https://github.com/MukulSharma10">Github</a>
        </div>
    </div>
</footer>