<footer>
    <div class="site-identity-footer">
        <p>
            <%= new Date().getFullYear() %>. Reviewed. All rights reserved.| Made with ❤️ by Mukul.
        </p>
        <div>
            <a class="github" href="https://github.com/MukulSharma10">
                <img src="images/github.svg" alt="Github logo">
            </a>
        </div>
    </div>
</footer>