<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewed</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <h1>Contact</h1>
    <div>
        <p>
            Reviewed is a short movie review platform where users can post their own movie reviews but under a certain word limit to make things interesting!
        </p>
        <a class="link" href="/">Back to Home</a>
    </div>
</body>
<%- include("partials/footer.ejs") %>
</html>