<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewed</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <h1>Create new Review</h1>
    <form action="/new-post" method="post">
        <input type="text" name="title" placeholder="Post title" class="post-title" required autocomplete="off">
        <textarea name="content" placeholder="Post Content" required maxlength="100" class="post-content" autocomplete="off"></textarea>
        <button type="submit">Publish</button>
    </form>
</body>
<%- include("partials/footer.ejs") %>
</html>