@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');

.site-identity{
    color: white;
}

.site-identity a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    color: white;
}

body{
    background-color: black;
    font-family: Arimo;
    margin: 0px;
}

nav{
    background-color: rgb(0, 0, 61);
    overflow: hidden;
}

nav a{
    float: left;
    color: white ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    background-color: black;
}

nav a.active{
    color: white;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: white;
}