@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');

.site-identity-header{
    color: black;
}

.site-identity-footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;

}

.site-title{
    background-color: black;
    font-family: Helvetica;
    font-size: larger;
    padding: 2px;
}

.site-title a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    color: black;
}

body{
    background-color: rgba(255, 255, 255, 0.505);
    font-family: Arimo;
    margin: 0px;
}

nav{
    background-color: gold;
    border: 3px solid gold;
    overflow: hidden;
}

nav a{
    float: left;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    background-color: rgba(255, 255, 0, 0.733);
    color: black;
    border-radius: 2rem;
}

nav a.active{
    color: black;
    background-color: gold;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.link{
    text-decoration: none;
    color: gold;
}

.main-page{
    text-align: center;
    color: black;
}

img{
    width: 2rem;
    height: 2rem;
    margin-bottom: 3px;
}

.about-content{
    color: black;
    text-align: center;
}
